.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 92%;
    margin: auto;
  }
  
  @media screen and (min-width: 1024px) {
    .mainContainer {
      width: 97%; /* Adjust width for larger screens */
    }
  }
  